.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3000px;
}

.body {
  margin-top: 56px;
  display: flex;
}

.content {
  width: 799px;
  background-color: rgb(233, 235, 238);
  padding: 0px 32px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
