@import "normalize.css";

:root {
  --primary: rgb(8, 102, 255);
  --white: #ffff;
  --black: rgb(28, 30, 33);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
  font-family: "CustomFont";
  background-color: rgb(240, 242, 245);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
